---
import CorporateLayout from "../../layouts/CorporateLayout.astro";
import Chart from "@/components/AmchartsTest";
import { Dropdown } from "@/components/dropdown";
import MapChart from "../../components/AmchartsCobertura";
---

<CorporateLayout>
    <h1>Cobertura</h1>
    <!-- <Chart client:only="react" />
    <Dropdown client:only="react" /> -->

    <MapChart client:only="react" />

</CorporateLayout>

<style>
    #chartdiv {
        width: 100%;
        height: 100vh; /* Full viewport height */
        position: relative; /* Position relative for the overlay */
    }

    /* Cover the amCharts logo */
    .logo-cover {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px; /* Adjust the width to cover the logo */
        height: 20px; /* Adjust the height to cover the logo */
        background: white; /* Background color to match the chart's background */
        z-index: 1000; /* Ensure it is on top of the chart */
    }
</style>