---
import Layout from "../../layouts/InicioLayout.astro";
import CrossFadeBack from "../../components/CrossFadeBack.astro";

import { Image } from 'astro:assets';
import logoLatcom from '../../images/logo/logo-latcom.svg';
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col min-h-screen">
    <!-- Primera Sección (100% ancho) -->
    <section
      class="text-white h-24 flex items-center justify-center"
    >
      <div class="max-w-[300px] mx-auto">
        <a class="text-2xl font-bold" href="/">
          <Image src={logoLatcom} alt='' />
        </a>
      </div>
    </section>

    <!-- Segunda Sección -->
    <section class="flex flex-1 flex-col items-center justify-center">
      <h1>WE ARE GLOBAL OUT OF HOME</h1>
      <a class="" href="/credentials/pt/selector">Seleccionar</a>
    </section>

    <!-- ============================================================== -->
    <!-- Crossfade Images Background -->
    <!-- ============================================================== -->
    <CrossFadeBack />

  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
  }
</style>
