---
import CorporateLayout from "../../layouts/CorporateLayout.astro";
import { getLangFromUrl } from '../../i18n/utils';
import { getI18N } from '../../i18n/loadTranslations';

import VideoScroll from "../../components/videoScroll.astro";

const videoURL = "/credentials/video/watermelon.mp4";

// Obtiene el idioma desde la URL
const lang = getLangFromUrl(Astro.url);

// Carga las traducciones según el idioma actual
const translations = getI18N(lang);
---

<CorporateLayout>
  <h1>Nosotros</h1>
  <a href="#">Enlace</a>
  <div>Esta es la página Nosotros</div>
  <h3>{translations.welcome}</h3>
  <div x-data="{ count: 0 }">
    <button @click="count--">-</button>
    <span x-text="count"></span>
    <button @click="count++">+</button>
  </div>

  <VideoScroll video={videoURL} />

  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit nibh ac suscipit integer quis consequat, inceptos sapien dapibus sociis lacus sociosqu pulvinar torquent feugiat fringilla accumsan. Platea in purus maecenas velit vitae odio vehicula vel diam litora, gravida quam viverra nulla tempor dictumst magnis sociis faucibus, proin fringilla arcu torquent imperdiet elementum aliquam ante nam. Inceptos vulputate vel augue tincidunt dictum eu malesuada suscipit, non neque duis placerat iaculis vestibulum conubia ullamcorper blandit, parturient interdum curae erat platea ante facilisi.

    Magnis luctus condimentum tortor hendrerit sodales venenatis augue, urna eu nisl integer pellentesque posuere himenaeos nisi, ullamcorper tristique ac cum aenean rhoncus. Velit parturient in tempus eget posuere sodales, neque scelerisque quam condimentum maecenas dapibus auctor, aliquam justo nam molestie nascetur. A consequat placerat faucibus erat lacus metus odio, luctus sociis facilisis rutrum nam tellus mauris felis, sodales praesent aenean auctor suscipit nisi.
  </p>
  <div style="height: 200px;"></div>
</CorporateLayout>

<style>
  a {
    @apply text-3xl;
    @apply text-red-500;
    @apply decoration-yellow-100;
  }

</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  // Registra el plugin ScrollTrigger
  gsap.registerPlugin(ScrollTrigger);
</script>

<script is:inline src="https://unpkg.com/alpinejs-masonry@latest/dist/masonry.min.js"></script>