---
import Head from '../components/Head.astro';
import { getLangFromUrl } from '../i18n/utils';
import Header from "../components/HeaderCorporate.astro";
import { getI18N } from '../i18n/loadTranslations';

// Obtiene el idioma desde la URL
const lang = getLangFromUrl(Astro.url);

// Carga las traducciones según el idioma actual
const translations = getI18N(lang);
---

<!DOCTYPE html>
<html lang={lang}>

	<head>
		<Head title='Latcom' description='OOH Advertising Solutions' />
	</head>

<body>

    <div class="fixed top-0 z-40 w-full h-16">

        <Header />

    </div>

    <main class="pt-16">

        <slot />

    </main>

</body>
</html>



<script>
    gsap.registerPlugin(ScrollTrigger);
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Lenis from 'lenis';

    // smooth scroll
    const lenis = new Lenis();

    /* lenis.on('scroll', (e:any) => {
        console.log(e);
    }); */

    lenis.on('scroll', ScrollTrigger.update);

    gsap.ticker.add((time)=>{
        lenis.raf(time * 500)
    });

    gsap.ticker.lagSmoothing(0);
</script>