---
import Head from '../components/Head.astro';
---

<!DOCTYPE html>
<html>
	<head>
		<Head title='Latcom credenciales' description='OOH Advertising Solutions' />
	</head>
<body>

    <main>

        <slot />

    </main>


</body>
</html>